.h1 {
    margin-left: 10%;
    font-family: 'Times New Roman', Times, serif;
}
.overskrift {
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}
.undertekst {
    margin-left: 10%;
    font-weight: 800;
}
.arbeid {
    background-color: lightgrey;
    border: 2pt solid black; 
    padding: 5pt;
    margin-left: 10%;
    text-decoration: none;
    transition: 300ms;
}
.knapp:hover {
    background-color: pink;
    padding: 10pt;
}
.navbar {
    background-color: white;
    padding: 10px;
    text-align: right;
}
button {
    background-color: white;
    padding: 8px 16px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #961313;
}